/* src/App.css */
.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.card {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

.social-media-links {
  margin-top: 10px;
}

.social-icon {
  margin-right: 10px;
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

.social-icon:hover {
  color: #007bff;
}
